extends layout.pug 

block content 
  div.main-container
    h2.content-title.centered Flashcards

    .home-container
      h1 #{num1} + #{num2} = #{add} 
      
      button(type='button' class='btn btn-')=add
      button(type='button' class='btn btn-') #{randomize(add) !== add ? Math.ceil(Math.random() * add) : Math.ceil(Math.random() * add)}
      button(type='button' class='btn btn-')=add