extends layout.pug 

block content 
  div.main-container
    h2.content-title.centered Flashcards

    .home-container
      h1 #{num1} + #{num2} = #{add} 
      h1 #{num1} - #{num2} = #{subtract}
      